@charset "utf-8";
/* CSS Document */

/******************************

[Table of Contents]

1. 1600px
2. 1440px
3. 1280px
4. 1199px
5. 1024px
6. 991px
7. 959px
8. 880px
9. 768px
10. 767px
11. 539px
12. 479px
13. 400px

******************************/

/************
1. 1600px
************/

@media only screen and (max-width: 1600px)
{
	
}

/************
2. 1440px
************/

@media only screen and (max-width: 1440px)
{
	.intro, .calendar
	{
		padding-left: 104px;
		padding-right: 104px;
	}
	.calendar_item_time
	{
		margin-left: 44px;
	}
	.calendar_item_text
	{
		margin-left: 51px;
	}
}

/************
3. 1380px
************/

@media only screen and (max-width: 1380px)
{
	.intro_item
	{
		width: calc((100% - 30px) / 2);
		background: #f3f7f9;
		margin-bottom: 48px;
	}
}

/************
3. 1280px
************/

@media only screen and (max-width: 1280px)
{
	
}

/************
4. 1199px
************/

@media only screen and (max-width: 1199px)
{
	.calendar_item_time
	{
		margin-left: 74px;
	}
	.calendar_item_text
	{
		margin-left: 111px;
	}
	.calendar_col:not(:last-child)
	{
		margin-bottom: 30px;
	}
}

/************
4. 1100px
************/

@media only screen and (max-width: 1100px)
{
	
}

/************
5. 1024px
************/

@media only screen and (max-width: 1024px)
{
	
}

/************
6. 991px
************/
@media only screen and (min-width: 992px)
{
	
}
@media only screen and (max-width: 991px)
{
	.header_nav,
	.search_container,
	.header_social
	{
		display: none !important;
	}
	.header
	{
		position: fixed;
		top: 0;
		left: 0;
	}
	.header.scrolled
	{
		top: 0;
	}
	.hamburger
	{
		display: block;
	}
	.logo_image div
	{
		width: 49px;
	}
	.logo_text
	{
		font-size: 24px;
	}
	.header_top_content
	{
		height: 100px;
	}
	.home_title
	{
		font-size: 48px;
	}
	.menu_social
	{
		text-align: center;
	}
	.menu_social_title
	{
		display: block;
	}
	.menu_social ul
	{
		display: block;
		margin-left: 0;
	}
	.intro,
	.calendar
	{
		padding-left: 60px;
		padding-right: 60px;
	}
	.pricing_col:not(:last-child)
	{
		margin-bottom: 30px;
	}
	.pricing_item_mid
	{
		left: 0px;
		top: 0px;
		width: 100%;
	}
	.footer_col:not(:last-child)
	{
		margin-bottom: 60px;
	}
	.footer_extra_content
	{
		height: auto;
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.footer_extra_links
	{
		margin-top: 10px;
	}
	.copyright
	{
		margin-top: 13px;
	}
}

/************
7. 959px
************/

@media only screen and (max-width: 959px)
{
	
}

/************
8. 880px
************/

@media only screen and (max-width: 880px)
{
	
}

/************
9. 768px
************/

@media only screen and (max-width: 768px)
{
	
}

/************
10. 767px
************/

@media only screen and (max-width: 767px)
{
	.home_title
	{
		font-size: 36px;
	}
	.home_location
	{
		font-size: 24px;
		margin-top: -2px;
	}
	.home_buttons
	{
		margin-top: 44px;
	}
	.intro,
	.calendar
	{
		padding-left: 30px;
		padding-right: 30px;
	}
	.intro_item
	{
		width: 100%;
	}
	.calendar_item_time
	{
		margin-left: 44px;
	}
	.calendar_item_text
	{
		margin-left: 51px;
	}
	.cta_title
	{
		font-size: 36px;
	}
}

/************
11. 575px
************/

@media only screen and (max-width: 575px)
{
	p
	{
		font-size: 13px;
	}
	.header_top_content
	{
		height: 60px;
	}
	.logo_image div
	{
		width: 39px;
		height: 32px;
	}
	.logo_content
	{
		padding-left: 10px;
	}
	.logo_text
	{
		font-size: 14px;
	}
	.logo_sub
	{
		font-size: 9px;
	}
	.menu_close_container
	{
		top: 19px;
		right: 30px;
	}
	.menu_item a
	{
		font-size: 18px;
	}
	.menu_item a::after
	{
		height: 2px;
	}
	.menu_social
	{
		bottom: 10px;
	}
	.menu_social_title
	{
		display: none;
	}
	.menu_social ul
	{
		display: block;
	}
	.menu_social ul
	{
		margin-left: 0;
		margin-top: 10px;
	}
	.menu_social
	{
		text-align: center;
	}
	.button
	{
		width: 165px;
		height: 42px;
	}
	.button a
	{
		line-height: 42px;
		font-size: 12px;
	}
	.home_content_container
	{
		/* top: 35%; */
	}
	.intro,
	.calendar
	{
		padding-left: 15px;
		padding-right: 15px;
	}
	.calendar_item
	{
		padding-left: 20px;
	}
	.calendar_item_image
	{
		width: 73px;
		height: 73px;
	}
	.calendar_item_time
	{
		margin-left: 25px;
	}
	.calendar_item_text
	{
		margin-left: 30px;
	}
	.calendar_item_time div:first-child
	{
		font-size: 24px;
	}
	.calendar_item_time div:last-child
	{
		font-size: 13px;
	}
	.calendar_item_text div:first-child
	{
		font-size: 16px;
	}
	.calendar_item_text div:nth-child(2)
	{
		font-size: 14px;
	}
	.calendar_item_text div:last-child
	{
		font-size: 13px;
		margin-top: 3px;
	}
	.cta_title
	{
		font-size: 24px;
	}
	.footer_social_list
	{
		display: block;
		margin-left: 0;
		margin-top: 10px;
	}
	.footer_extra_links
	{
		margin-top: 25px;
	}
	.footer_links ul li a,
	.footer_social_title
	{
		font-size: 14px;
	}
	.footer_social_list li:not(:last-child)
	{
		margin-right: 22px;
	}
}

/************
11. 539px
************/

@media only screen and (max-width: 539px)
{
	
}

/************
12. 480px
************/

@media only screen and (max-width: 480px)
{
	.home_date
	{
		font-size: 12px;
	}
	.home_title
	{
		font-size: 24px;
		margin-top: 3px;
	}
	.home_location
	{
		font-size: 16px;
		margin-top: 4px;
	}
	.home_text
	{
		display: none;
		font-size: 13px;
		margin-top: 3px;
	}
	.home_buttons
	{
		margin-top: 34px;
	}
}

/************
13. 479px
************/

@media only screen and (max-width: 479px)
{
	
}

/************
14. 400px
************/

@media only screen and (max-width: 400px)
{
	
}